/*Start of the nav bar style*/
.nav-bar_small
{
    background-color: #fcc4c5;
    position: relative;
    z-index: 1030;
    width: 100%;
    height: 25px;
}

.nav-bar_small a
{
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    padding-top: 4px;
    padding-bottom: 4px;
}

.nav-bar_small a:hover
{
    color: black;
    text-decoration: none;
}

.left
{
    float: left;
    width: 50%;
}

.right
{
    float: right;
    width: 50%;
}

.nav-bar 
{
    background-color: white;
    position: fixed;
    z-index: 1030;
    width: 100%;
}

.nav-bar--scrolled 
{
    background-color: white;
    position: fixed;
    z-index: 1030;
    width: 100%;
    transform: translateY(-25px);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}

.pink img
{
    height: 20px;
    width: 20px;
    padding-bottom: 5px;
}

#myLinks 
{
    display: block;
}
  
.nav-bar_icon 
{
    float: left;
    padding: 2px 16px;
}

.icon 
{
    float: right;
    color: white;
    padding: 2px 10px;
    display: none;
}

.nav-bar_link
{
    width: 80%;
    margin-right: 5%;
    float: left;
    padding: 5px 18px;
    font-size: 18px;
    font-weight: 200;
    text-transform: uppercase;
}

.nav-bar_link a
{
    font-size: 12px;
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
    padding-left: 18px;
    padding-right: 18px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 1 !important;
    float: right;
}

.pink img
{
    height: 20px;
    width: 20px;
    padding-bottom: 5px;
}

.nav-bar_link a:hover
{
    color: black;
    text-decoration: none;
}
  
.overlay 
{
    display: none;
}

.overlay-content 
{
    display: none;
}
  

/*This is for mobile phone navbar*/
@media (max-width: 576px) 
{
    .nav-bar 
    {
        background-color: white;
        position: fixed;
        z-index: 1030;
        width: 100%;
    }

    .nav-bar_icon 
    {
        float: left;
        color: white;
        padding: 5px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .icon 
    {
        float: right;
        padding: 17px 16px;
        display: block;
    }

    #mylinks
    {
        display: none;
    }

    .nav-bar_link a
    {
        float: right;
        color: white;
        padding: 15px 20px;
        font-size: 16px;
        font-weight: 200;
        display: block;
        width: 100%;
        text-transform: uppercase;
    }

    .nav-bar_link a:hover
    {
        color: black;
        text-decoration: none;
    }

    .overlay 
    {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(252, 196, 197);
        background-color: rgba(252, 196, 197, 0.90);
        overflow-y: hidden;
        transition: 0.5s;
        display: block;
    }
      
    .overlay-content 
    {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
        display: block;
    }
      
    .overlay a 
    {
        padding: 8px;
        text-decoration: none;
        font-size: 30px;
        color: white;
        display: block;
        transition: 0.3s;
      }
      
    .overlay a:hover, .overlay a:focus 
    {
        color: black;
        text-decoration: none;
    }
      
    .overlay .closebtn 
    {
        position: absolute;
        top: 70px;
        right: 3px;
        font-size: 50px;
        float: right;
    }
}
/*End of mobile phone* navbar/
/*End of the nav bar style*/


/*Start of the first div*/
.first-div
{
    background-image: url(../Images/unnamed.jpg);
    height: 720px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}

.first-div_content 
{
    font-size: 150px;
    color: white;
    font-weight: 400;
    font-family: "Amatic SC", cursive;
    padding-bottom: 10px;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.first-div_subcontent
{
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    top: 38%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.first-div p
{
    position: relative;
    top: 43%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.my-button
{
    background: #fcc4c5;
    border: 1px solid #fcc4c5;
    color: #fff;
    padding: .5rem 1rem;
    font-size: 1.3rem;
    border-radius: 35px;
    font-weight: 400;
    text-align: center;  
}

.my-button:hover
{
    background: transparent;
    color: #fcc4c5;
    text-decoration: none;
}

/*Start of mobile phone first-div*/
@media (max-width: 576px) 
{
  .first-div
  {
      background-image: url(../Images/unnamed-phone.jpg);
      height: 500px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 100%;
      overflow-x: hidden;
  }
  .first-div_content 
  {
      font-size: 80px;
      color: white;
      font-weight: 400;
      font-family: "Amatic SC", cursive;
      padding-bottom: 10px;
      position: relative;
      top: 50%; 
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      text-align: center;
  }

  .first-div_subcontent
  {
      font-weight: 300;
      font-size: 13px;
      letter-spacing: 4px;
      text-transform: uppercase;
      color: white;
      position: relative;
      top: 40%; 
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      text-align: center;
  }

  .my-button
  {
      background: #fcc4c5;
      border: 1px solid #fcc4c5;
      color: #fff;
      padding: .35rem .75rem;
      font-size: 1.1rem;
      line-height: 2.5;
      border-radius: 35px;
      font-weight: 400;
      text-align: center;  
  }
}

/*End of mobile phone first div*/
/*End of first div*/

/*Start of the second div*/
.second-div_head
{
    width: 100%;
    height: 250px;
    background-color: white;
}

.second-div_head_left
{
    width: 50%;
    float: left;
    height: 100%;
}


.second-div_head_right
{
    width: 50%;
    float: right;
    height: 100%;
}

.second-div_circle
{
    width: 110px;
    height: 110px;
    border-radius: 110px;
    position: relative;
    top: 20%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 50%; 
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    text-align: center;
    padding: 15px;
    margin-bottom: 20px
}

.green
{
    background-color: #82ae46;
}

.blue
{
    background-color: #a2d1e1;
}
.second-div_circle img
{
    border-style: solid;
    border-width: 0.1px;
    padding: 10px;
    border-radius: 70px;
    color: white;
}

.second-div_circle:hover
{
    background-color: #fcc4c5;
}

.second-div_header
{
    position: relative;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Poppins", Arial, sans-serif;
    color: #000000;
    top: 20%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 50%; 
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    text-align: center;
}

.second-div_content
{
    position: relative;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-weight: 500;
    top: 20%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 50%; 
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    text-align: center;
}

.grid-category
{
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 25% 25%;
  grid-row-gap: 50px;
  grid-column-gap: 10%;
  padding: 50px;
}

.category-item
{
    font-size: 30px;
    text-align: center;
    position: relative;
}
  
.category-item img
{
    width: 100%;
    height: 100%;    
}


.caption
{
    height: 32px;
    width: 110px;
    background-color: #fcc4c5;
    position: absolute;
    bottom: 0;
    left: 0;
}

.caption h1
{
    font-size: 23px;
    text-align: center;
    font-weight: 400;
}

.caption a
{
    color: white;
}

.caption a:hover
{
    text-decoration: none;
    color: white;
}

.third-div
{
    height: 1000px;
    background-color: red;
}

.third-div_heading
{
    height: fit-content;
    justify-content: center;
    padding: 3%;
    
}

.third-div_header
{
    /* padding-top: 1%; */
    /* top: 40%; */
    position: relative;
    text-align: center;
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
    font-family: "Lora", Georgia, serif;
    font-style: italic;
    color: #fcc4c5;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);

}

.third-div_sub-header
{
    /* top: 50%; */
    text-align: center;
    position: relative;
    font-size: 35px;
    font-weight: 600;
    color: #000000;
    font-family: "Poppins", Arial, sans-serif;
    
}

.third-div_sub-sub-header
{
    font-family: "Amatic SC", cursive;
    text-align: center;
    font-size: 60px;
    color: #fcc4c5;
    font-weight: 900;
}

.grid-product
{
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 20% 20% 20%; 
  grid-row-gap: 50px;
  padding: 30px;
}

.product-item
{
    font-size: 30px;
    text-align: center;
    position: relative;
    height: 90%;
    border-style: solid;
    border-color: #f0f0f0;
    border-width: 1px;
    max-height: 370px;
}

.product-item_top
{
    height: 80%;
}

.product-item_bottom
{
    height: 20%;
    padding: 5%;
    background-color: #fcc4c5;
}

.product-item_bottom h1
{
    font-size: 23px;
    text-align: center;
    font-weight: 400;
    color: white;
}


.product-item_bottom a
{
    color: white;
}

.product-item_bottom a:hover
{
    text-decoration: none;
    color: white;
}

.product-item_top img
{
    width: 100%;
    height: 100%;    
}

.product-item img
{
    width: 100%;
    height: 100%;    
}

.product-caption
{
    height: 32px;
    width: 110px;
    background-color: #fcc4c5;
    position: absolute;
    bottom: 0;
    left: 0;
}

.product-caption h1
{
    font-size: 23px;
    text-align: center;
    font-weight: 400;
}

.product-caption a
{
    color: white;
}

.product-cart
{
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: #fcc4c5;
    top: 4%;
    right: 2%;
    padding: 2px;
    
}

.product-cart-active
{
    display: block;
}

.product-cart img
{
    height: 25px;
    width: 25px;
    position: absolute;
    font-size: 26px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #000000; 
}

.row
{
    padding-top: 5%;
    padding-bottom: 5%;
}

footer
{
    background-color: #f7f6f2;
}

.footer-place
{
    padding: 10%;
}

.footer-place-header
{
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 500;
}

.footer-list
{
    list-style: none;
    padding-left: 0; 
}

.footer-list a
{
    color: black;
}

.footer-list a:hover 
{
    text-decoration: none;
    color: black;
}

.footer-social
{
    width: 100%;
    float: left;
    list-style: none;
    padding-left: 0;
}

.footer-social a
{
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    background: #fcc4c5;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;  
     
}

.footer-social a span
{
    position: absolute;
    font-size: 26px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #000000; 
}

.footer-copyright
{
    text-align: center;
    padding-bottom: 5%;
    margin: 0;
}

/*cart*/
.shop-background
{
    background-image: url(../Images/IMG-5642\ \(1\).jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.shop-category
{
    width: 80%;
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
    margin: 4% 10%;
}

.shop-category ul
{
    width: 100%;
    float: left;
    list-style: none;
    padding-left: 0;
    padding-top: 40px;
}


.shop-category a
{
    height: 40px;
    width: 80px;
    display: block;
    float: left;
    border-radius: 5px;
    position: relative;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;         
}

.active
{
    background: #fcc4c5;
}

.shop-category-grid
{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 20% 20% 20%; 
    grid-row-gap: 50px;
    padding: 30px;
}

.shop-category-content 
{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 20px 30%;
}

.shop-category-content p
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000; 
}

.shop-category-item {
    font-size: 30px;
    text-align: center;
    position: relative;
    height: 90%;
    border-style: solid;
    border-color: #f0f0f0;
    border-width: 1px;
    max-height: 370px;
}

.shop-background-header
{
    font-size: 80px;
    color: white;
    font-weight: 800;
    font-family: "Amatic SC", cursive;
    padding-bottom: 10px;
    position: relative;
    top: 60%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.shop-background-subheader
{
    font-size: 30px;
    color: white;
    font-weight: 700;
    font-family: "Amatic SC", cursive;
    padding-bottom: 10px;
    position: relative;
    top: 28%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;  
}

.shop-background-subheader a
{
    color: white;
}

.shop-background-subheader a:hover
{
    text-decoration: none;
    color: #fcc4c5;
}

.single-row
{
    padding-top: 0px;
    padding-bottom: 1%;
}
.single-item
{
    max-width: 100%;
    height: auto;
    padding: 15%;
}

.single-item img
{
    width: 100%;
    height: 100%;
}

.single-item-content
{
    height: 100%;
    width: 100%;
    padding: 15%;
    /* border: black 1px solid; */
}

.single-item-content h1
{
    font-size: 30px;
    font-weight: 400;
}

.single-item-rating
{
    display: flex !important;
    position: relative;
}

.single-item-rating-left
{
    text-align: left !important;
    margin-right: 0.2rem !important;
    margin-top: 4.5px;
    margin-bottom: 0.5rem;
}

.single-item-rating-left a
{
    color: #fcc4c5;
}

.single-item-rating-left a:hover
{
    color: #fcc4c5;
    text-decoration: none;
}

.price 
{
    font-size: 30px;
}

*
{
    margin: 0;
    padding: 0;
}

.rate 
{
    float: left;
    height: 10px;
    padding: 0px;
}

.rate:not(:checked) > input 
{
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) > label 
{
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 20px;
    color: #ccc;
}

.rate:not(:checked) > label:before 
{
    content: '★ ';
}

.rate > input:checked ~ label 
{
    color: #ffc700;    
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label 
{
    color: #deb217;  
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label 
{
    color: #c59b08;
}

.black-button
{
    background: black;
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    border-radius: 30px;
    font-weight: 400;
    text-align: center;  
    line-height: 1.5;
}

.black-button:hover
{
    background: #fcc4c5;
    color: white;
    text-decoration: none;
}

.single-product
{
    font-size: 40px;
    color: #fcc4c5;
    font-weight: 400;
}

.cart-scroll
{
    overflow-x: scroll;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.cart-table
{
    min-width: 1000px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.cart-table-head
{
    background-color: #fcc4c5;
}

.cart-table-head tr th
{
    padding: 20px 10px;
    color: white;
}

.cart-table tbody tr th
{
    padding: 40px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    font-weight: 400;
    margin-bottom: 10px;
}

/* .cart-table tbody
{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    font-weight: 400;
    margin-bottom: 10px;
} */

.remove
{
    
    border: rgba(0, 0, 0, 0.1) 1px solid;
    padding: 4px 12px 8px 12px;
    color: black;
    font-weight: 400;
    
}

.remove:hover
{
    background-color: #fcc4c5;
    color: black;
    text-decoration: none;
}

.cart-image
{
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-image: url(../Images/9d0680c3-aaa5-45f1-b19d-39af0c8b5090\ \(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

.cart-information
{
    padding: 5%;
    border: rgba(0, 0, 0, 0.1) 1px solid;
    margin-bottom: 30px;
}

.cart-information-header
{
    font-size: 16px;
    margin-bottom: 20px;
}

.form-group label
{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}

.form-group input
{
    height: 50px;
    margin-bottom: 10px;
}

.d-flex span
{
    width: 50%;
}

.total
{
    border-top: solid 1px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding-top: 10px;
}

/*Start of 700px-1000px screen size*/
@media screen and (max-width: 1000px) and (min-width: 700px)
{
    .grid-category
    {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: 35% 35%;
        grid-row-gap: 50px;
        grid-column-gap: 10%;
        padding: 50px;
    }

    .category-item
    {
        font-size: 30px;
        text-align: center;
        position: relative;
    }
    
    .category-item img
    {
        width: 100%;
        height: 100%;    
    }

    .grid-product
    {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: 35% 35% ; 
        grid-row-gap: 50px;
        padding: 30px;
    }
    
    .product-item
    {
        font-size: 30px;
        text-align: center;
        position: relative;
        height: 90%;
        border-style: solid;
        border-color: #f0f0f0;
        border-width: 1px;
        /* max-height: 280px; */
    }
}

/*Start of 751px-900px screen size*/
@media screen and (max-width: 700px) and (min-width: 577px)
{
    .grid-category
    {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: 40% 40%;
        grid-row-gap: 50px;
        grid-column-gap: 10%;
        padding: 50px;
    }

    .grid-product
    {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: 40% 40% ; 
        grid-row-gap: 50px;
        padding: 30px;
    }
    
    .product-item
    {
        font-size: 30px;
        text-align: center;
        position: relative;
        height: 90%;
        border-style: solid;
        border-color: #f0f0f0;
        border-width: 1px;
        max-height: 280px;
    }


}

/*start of mobile phone second div*/
@media (max-width: 576px) 
{
    .second-div_head_left
    {
        width: 100%;
        float: left;
        height: 250px;
        
    }

    .second-div_head_right
    {
        width: 100%;
        float: right;
        height: 250px;
    }

    .grid-category
    {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: 100%;
        grid-row-gap: 50px;
        grid-column-gap: 10%;
        padding: 50px;
    }

    .grid-product
    {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: 90% ; 
        grid-row-gap: 50px;
        padding: 30px;
    }

    .product-item_top
    {
        height: 80%;
    }

    .product-item_bottom
    {
        height: 20%;
        padding: 5%;
        background-color: #fcc4c5;
    }

    .shop-category-content
    {
        display: grid;
        grid-template-columns: auto auto auto auto;
        margin-left: auto;
        margin-right: auto;
    }
}
